@using SimpleApp.Models
@model Default

<h2>Default</h2>
<h5>@Model.Value</h5>
<h5>@ViewBag.Value</h5>
<h5>@ViewData["Value"]</h5>

@Html.Partial("_Partial")

@using (Html.BeginForm("index", "default", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        @Html.LabelFor(m => m.Value, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Value, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Value, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Click me!" class="btn btn-default" />
        </div>
    </div>
}

@section MySection{
    <h2>Default section!</h2>
}